<!DOCTYPE html>
<html>
<head>
  <title>Marjonaga Bag‘ishlov</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <h1>💖 Marjona, bu sahifa faqat sen uchun</h1>
  <p>Seni birinchi ko‘rganimdan beri qalbim faqat seni deb uradi...</p>
  <p>🗓 5-fevral – biz tanishgan kunimiz. Bugungacha necha kun o‘tdi?</p>
  <script>
    const start = new Date("2025-02-05");
    const today = new Date();
    const diffTime = today - start;
    const days = Math.floor(diffTime / (1000 * 60 * 60 * 24));
    document.write(`<p>❤️ ${days} kun bo‘ldi seni sevganimga</p>`);
  </script>
  <a href="/">🔙 Ortga</a>
</body>
</html>